CONTROLPLANE_DB_USER=oae
CONTROLPLANE_DB_PASSWORD=change-me-controlplane
CONTROLPLANE_DB_NAME=oae_controlplane

ODOO_DB_USER=odoo
ODOO_DB_PASSWORD=change-me-odoo
ODOO_ADMIN_PASSWORD=change-me-master

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change-me-minio

EDGE_AGENT_TOKEN=replace-with-random-token

AIRCRM_CONSOLE_PORT=3010
AIRCRM_API_PORT=4010
AIRCRM_ODOO_PORT=8071
AIRCRM_MINIO_API_PORT=19000
AIRCRM_MINIO_CONSOLE_PORT=19001
